.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100px;
  font-size: 22px;
  line-height: 26px;
}

.label {
  margin: 0;
  margin-bottom: 15px;
}
